.sombra {
    position: absolute;
    content: attr(data-titles);
    font-size: 70px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    color: #6f6d6d;
    bottom: 23px;
    text-align: center;
    opacity: 0.47;
}


@media only screen and (max-width: 768px) {
    .sombra {
        position: absolute;
        content: attr(data-titles);
        font-size: 45px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        color: #6f6d6d;
        bottom: 40px;
        text-align: center;
        opacity: 0.47;
    }

    .whats {
        margin: 0% 0% 14% 0% !important;
        position: fixed;
        background: #f82249;
        display: none;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50px;
        right: 15px;
        bottom: 15px;
        transition: background 0.5s ease-in-out;
    }



}

@media only screen and (max-width: 414px) {
    .sombra {
        position: absolute;
        content: attr(data-titles);
        font-size: 40px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        color: #6f6d6d;
        bottom: 40px;
        text-align: center;
        opacity: 0.47;
    }
}

.whats {
    margin: 0% 0% 4% 0%;
    position: fixed;
    background: #f82249;
    display: none;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
}

.whats i {
    font-size: 24px;
    padding-top: 7px;
    color: #fff;
}

.btn-light {
    border-color: #ccc !important;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    content: "Selecionar" !important;
    cursor: pointer;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #dc3545 !important;
}

.bootstrap-select>.dropdown-toggle {
    width: 113% !important;
}

.dropdown.bootstrap-select.custom-select.custom-select-sm.form-control.form-control-sm {
    width: 25% !important;
    margin: 0% 3% 0% 0%;
}

.custom-file-input {
    outline-color: #dc3545 !important;
    margin: 0% 0% -3% 65%;
    cursor: pointer !important;
    z-index: 1 !important;
}

.input-group-text {
    height: 38px;
}

.adcKit {
    border-radius: 30px;
    cursor: pointer;
    outline-color: transparent;
}

.modal-footer {
    display: inherit !important;
}

.linkDiv {
    margin: 0% 0% 2% 0%;
}

.attrRemove {
    background-color: #dc3545;
    color: white;
}

.click {
    cursor: pointer;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline-color: #6c757d !important;
}

.whats:hover {
    background: #e0072f;
    color: #fff;
}

.item-user {
    color: black !important;
}

.item-user:hover {
    color: #e0072f !important;
}

#schedule .nav-tabs::-webkit-scrollbar {
    height: 6px !important;
}

#schedule .nav-tabs::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}

#schedule .nav-tabs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(114, 113, 113);
}


/* Responsividade de evento */

@media only screen and (max-width: 600px) {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 89% !important;
    }

    .input-group-prepend {
        margin-right: -1px;
        margin-bottom: 10px;
    }

    .link {
        margin: 0% 0% 0% 17% !important;
    }

    .nomeLink {
        width: 78% !important;
        height: 38px;
    }

    .link {
        height: 38px;
    }

    .linkSpan {
        margin-right: -55px;
    }
    .cntDigit {
        margin: 0% 0% 0% 1%;
    }
    .cntDigit#cnt_2 {
        margin-left: 2px;
    }
    .digits{
        margin: 0% 0% 0% 18% !important;
    }
}

@media only screen and (max-width: 415px) {
    .link {
        margin: 0% 0% 0% 13% !important;
    }
    .linkSpan {
        margin-right: -47px;
    }
}

@media only screen and (max-width: 360px) {
    .nomeLink {
        width: 77% !important;
    }
}
